div {
  padding: 35px;
  border: 1px solid black;
  text-align: center;
  background-color: lemonchiffon;
  color: indianred;
}

h3 {
  text-align: center;
  color: lemonchiffon;
}

p, p1 {
  color: lemonchiffon;
  text-align: center;
}

body{
  background-color: indianred;
}
