header {
  padding: 35px;
  text-align: center;
  background-color: lemonchiffon;
  color: indianred;
}

div {
  text-align: center;
  color: lemonchiffon;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color: indianred;
}

nav {
  max-width: 100%;
  margin: 0 auto;
  background-color: #7fff00;
}

ul {
  padding: 5px;
  text-align: center;
}

li {
  list-style-type: none;
  color:#f5fffa;
  display: inline-block;
  margin: 0 10px;
  padding: 5px 10px;
} 

a {
  color:#f555af;
}

footer {
  text-align: center;
  color: #7fff00;
}