header {
  padding: 35px;
  text-align: center;
  background-color: lemonchiffon;
  color: indianred;
}

div {
  text-align: center;
  color: lemonchiffon;
}

body{
  background-color: indianred;
}

li {
  list-style-type: none;
  color: navy;
  display: inline-block;
  font-family: Georgia, serif;
}