h1 {
  padding: 35px;
  text-align: center;
  background-color: lemonchiffon;
}

h2, h3 {
  text-align: center;
  color: lemonchiffon;
}

p {
  color: lemonchiffon;
}

body{
  background-color: indianred;
}
